<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="loadHeader(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{img/common/icon.png}">
    <link rel="stylesheet" th:href="${'//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="${'//cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css'}">
    <link rel="stylesheet" th:href="@{css/common/base_color.css}">
    <link rel="stylesheet" th:href="@{css/common/common.css}">
    <title th:text="${title}"></title>
</head>
</html>