<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="loadNav">
        <header class="am-topbar am-topbar-inverse am-topbar-fixed-top smt-nav">
            <div class="am-container">
                <h1 class="am-topbar-brand">
                    <a href="/">Story Mapping Tool</a>
                </h1>

                <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                        data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                        class="am-icon-bars"></span></button>

                <div class="am-collapse am-topbar-collapse" id="collapse-head">
                    <ul class="am-nav am-nav-pills am-topbar-nav">
                        <li class="am-active"><a href="/">首页</a></li>
                        <li><a href="/project">我的项目</a></li>
                        <li><a href="/attended">与我协作</a></li>
                    </ul>

                    <div id="topbar_login" class="am-topbar-right" >
                        <button class="am-btn am-topbar-btn am-btn-sm smt-nav-button" onclick="window.location.href='/register'">注册</button>
                    </div>

                    <div id="topbar_register" class="am-topbar-right" >
                        <button class="am-btn am-topbar-btn am-btn-sm smt-nav-button " onclick="window.location.href='/login'">登录</button>
                    </div>

                    <!--style="display: none;"-->
                    <div id="topbar_user" class="am-topbar-right am-dropdown " style="display: none;" data-am-dropdown>
                        <span class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <img class="smt-userstatus "  src="/img/mycenter.png">
                            <span class="am-icon-caret-down"></span>
                        </span>

                        <ul class="am-dropdown-content">
                            <!--<li class="am-dropdown-header">您可以</li>-->
                            <li><a href="javascript:void(0);" id="personalSetting">个人设置</a></li>
                            <!--<li class="am-active"><a href="#">最荣幸是</a></li>-->
                            <li><a href="/exit">退出</a></li>
                            <!--<li class="am-disabled"><a href="#">就站在光明的角落</a></li>-->
                            <!--<li class="am-divider"></li>-->
                            <!--<li><a href="#">天空海阔 要做最坚强的泡沫</a></li>-->
                        </ul>
                    </div>


                </div>
            </div>
        </header>
        <div class="am-modal" tabindex="-1" id="my-prompt" >
            <div class="am-modal-dialog smt-mycenter">
                <div class="navbar ">
                    <span class="am-header-nav-title smt-mycenter-title">
                        个人信息
                    </span>
                    <span id="smt-close-modal" onclick="clickToCloseModal();" class="am-icon-close smt-mycenter-close"></span>
                    <!--<button id="smt-close-modal" type="button" class="am-icon-close smt-mycenter-close"></button>-->
                </div>
                <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                <div class="col-sm-3 col-md-2 col-lg-2" style="padding-right: 0;" >
                    <ul class="smt-mycenter-ul nav" >
                        <li id="smt-li-baseinfo" class="am-active">
                            <span id="smt-baseinfo" class=" smt-mycenter-li-baseinfo" >基本信息</span>
                        </li>
                        <li id="smt-li-changepsw" class>
                            <span id="smt-changepsw" class=" smt-mycenter-li-updatepwd">修改密码</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-md-10 col-lg-10" style="border-left: 1px solid #eee ; min-height: 300px; ">
                    <script th:inline="javascript">
                        var showUser = [[${session.user}]];
                    </script>
                    <form class="am-form" style="margin-top: 50px;" th:object="${session.user}" method="post" onsubmit="return false;" >
                        <!--th:object=user-->
                        <div class="am-form-group ">
                            <div class>
                                    <label for="user-em" class="am-u-sm-5 am-u-md-6 am-u-lg-6 " >
                                            邮箱
                                    </label>
                                    <div class="am-u-sm-6 am-u-md-7 am-u-lg-7 am-u-sm-centered am-u-md-centered am-u-lg-centered">
                                        <!--<input type="text" th:if="${session.user==null}" class="am-form-field" value="" disabled="disabled">-->
                                        <input th:if="${session.user!=null}" type="text" id="user-em" class="am-form-field" th:value="*{email}" disabled="disabled">
                                    </div>
                            </div>
                        </div>
                        <div class="am-form-group ">

                            <div class>
                                   <label for="user-name" class="am-u-sm-5 am-u-md-6 am-u-lg-6 ">
                                            昵称
                                   </label>
                                <!--am-u-sm-centered am-u-md-centered am-u-lg-centered-->
                                    <div class="am-u-sm-6 am-u-md-7 am-u-lg-7 am-u-sm-centered am-u-md-centered am-u-lg-centered">
                                        <!--<input type="text" th:if="${session.user==null}" class="am-form-field" value="" >-->
                                        <input th:if="${session.user!=null}" type="text" id="user-name" class="am-form-field" th:value="*{username}" >
                                    </div>
                            </div>
                        </div>
                        <div class="am-form-group " style="margin-top: 40px;" >
                            <div class>
                                <!--<label for="doc-button" class="am-u-sm-5 am-u-md-6 am-u-lg-6">-->
                                <!--</label>-->
                                <div class="am-u-sm-6 am-u-md-7 am-u-lg-7 am-u-sm-centered am-u-md-centered am-u-lg-centered">
                                    <button id="btn-updatebaseinfo" type="submit" class="am-btn am-btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--<div class="am-modal-dialog">-->
                <!--<div class="am-modal-hd">个人资料</div>-->
                <!--<div class="am-modal-bd">-->
                    <!--来来来，吐槽点啥吧-->
                    <!--<input type="text" class="am-modal-prompt-input">-->
                <!--</div>-->
                <!--<div class="am-modal-footer">-->
                    <!--<span class="am-modal-btn" data-am-modal-cancel>取消</span>-->
                    <!--<span class="am-modal-btn" data-am-modal-confirm>提交</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>

    </div>


</body>
</html>