<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="loadNav">
        <header class="am-topbar am-topbar-inverse am-topbar-fixed-top smt-nav">
            <div class="am-container">
                <h1 class="am-topbar-brand">
                    <a href="/">Story Mapping Tool</a>
                </h1>

                <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                        data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                        class="am-icon-bars"></span></button>

                <div class="am-collapse am-topbar-collapse" id="collapse-head">
                    <ul class="am-nav am-nav-pills am-topbar-nav">
                        <li class="am-active"><a href="/">首页</a></li>
                        <li><a href="/project">我的项目</a></li>
                        <li><a href="/attended">与我协作</a></li>
                    </ul>

                    <div id="topbar_login" class="am-topbar-right" >
                        <button class="am-btn am-topbar-btn am-btn-sm smt-nav-button" onclick="window.location.href='/register'">注册</button>
                    </div>

                    <div id="topbar_register" class="am-topbar-right" >
                        <button class="am-btn am-topbar-btn am-btn-sm smt-nav-button " onclick="window.location.href='/login'">登录</button>
                    </div>

                    <!--style="display: none;"-->
                    <div id="topbar_user" class="am-topbar-right am-dropdown " style="display: none;" data-am-dropdown>
                        <span class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <img class="smt-userstatus "  src="/img/mycenter.png">
                            <span class="am-icon-caret-down"></span>
                        </span>
                        <ul class="am-dropdown-content">
                            <!--<li class="am-dropdown-header">您可以</li>-->
                            <li><a href="#">个人设置</a></li>
                            <!--<li class="am-active"><a href="#">最荣幸是</a></li>-->
                            <li><a href="/exit">退出</a></li>
                            <!--<li class="am-disabled"><a href="#">就站在光明的角落</a></li>-->
                            <!--<li class="am-divider"></li>-->
                            <!--<li><a href="#">天空海阔 要做最坚强的泡沫</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>