<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="loadNav">
        <header class="am-topbar am-topbar-inverse am-topbar-fixed-top smt-nav">
            <div class="am-container">
                <h1 class="am-topbar-brand">
                    <a href="/">Story Mapping Tool</a>
                </h1>

                <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                        data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                        class="am-icon-bars"></span></button>

                <div class="am-collapse am-topbar-collapse" id="collapse-head">
                    <ul class="am-nav am-nav-pills am-topbar-nav">
                        <li class="am-active"><a href="/">首页</a></li>
                        <li><a href="/project">我的项目</a></li>
                        <li><a href="/attended">与我协作</a></li>
                    </ul>

                    <div class="am-topbar-right">
                        <button class="am-btn am-topbar-btn am-btn-sm smt-nav-button" onclick="window.location.href='/loginsmt'">注册</button>
                    </div>

                    <div class="am-topbar-right">
                        <button class="am-btn am-topbar-btn am-btn-sm smt-nav-button" onclick="window.location.href='/loginsmt'">登录</button>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>