.login-background{
    background-image: url(../img/background.jpg);
    /*background-image: url(http://img1.imgtn.bdimg.com/it/u=3281018393,1135547142&fm=26&gp=0.jpg);*/
    /*background-color: #0a1115;*/
    /*background-size: 100%;*/
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    /*padding: 15px;*/
    /*background-color: #0a1115;*/

}
.login-welcom-label{
    font-size: 20px;

    color: #303133;
    line-height:30px;
    margin: 0 auto;
    width: -moz-max-content;
    /*align-content: center;*/
    text-align:center;
}

.a-forgetpsw{
    font-size: 16px;
    color: #303133;
}



.smt-register-btn{
    color: #303133;
    background-color: #ffffff;

    border-color: #303133;

    border-radius: 1rem;
    font-size: 1.6rem;
}

.smt-register-btn:hover,
.smt-register-btn:focus,
.smt-register-btn:active,
.smt-register-btn.am-active,
.smt-register-btn.am-dropdown-toggle {
    color: #fff;
    background-color: #333333;
    /*color: #fff;*/
    /*color: #303133;*/
    /*background-color: #ffffff;*/
    border-color: #303133;
    /*border-radius: 0;*/

}

.smt-login-btn{
    color: #303133;
    background-color: #ffffff;
    border-color: #303133;

    border-radius: 1rem;
    font-size: 1.6rem;
}

.smt-login-btn:hover,
.smt-login-btn:focus,
.smt-login-btn:active,
.smt-login-btn.am-active,
.smt-login-btn.am-dropdown-toggle {
    color: #fff;
    /*background-color: #b3b3b4;*/
    background-color: #333333;
    /*color: #fff;*/
    /*color: #303133;*/
    /*background-color: #ffffff;*/
    /*border-color: #F2F6FC;*/
    border-color: #303133;
    /*border-radius: 0;*/

}

.login-teamcontact{
    padding: 15px !important;
    margin-bottom: 10px;
}

.smt-userstatus{
    background-color: #303133 !important;
    width: 28px;
    height: 28px;
    margin: 8px auto;
}

.smt-mycenter{
    padding-bottom: 0;
    background-color: #FFF;
    width: 850px;
    height: 600px;
    /*text-align: inherit;*/
}

.smt-mycenter-title{
    font-size: 20px;
    float: left;
    margin: 20px auto auto 20px;
}

.smt-mycenter-close{
    width: 40px;
    height: 40px;
    float: right;
    margin: 20px 20px auto auto;
    /*cursor: pointer;*/
    background-color: #FFFFFF;
    background-image: url(../img/close.png) ;
}

.smt-mycenter-ul{
    float: left;
}

.smt-mycenter-li-baseinfo{
    margin:10px auto 10px 5px;
    font-size: 15px;
}

.smt-mycenter-li-updatepwd{
    margin: 20px auto auto 5px;
}

.smt-mycenter-ul>li>span{
    position: relative;
    display: block;
    padding: 10px 15px;
}

.smt-mycenter-ul .am-active{
    border-left: 4px solid #3798e9;
}

.smt-mycenter-ul>.am-active>span , .smt-mycenter-ul>.am-active>span:focus{
    background-color: #fff;
    color: #3798e9;
}
