ul{
    padding: 0;
}

ul li{
    list-style: none;
}

canvas{
    position: absolute;
    z-index: -1;
}

.smt-nav{
    background-color: #303133 !important;
    border-color: #000000 !important;
}

.smt-nav a:hover{
    text-decoration: none;
}

.smt-nav a:after{
    color: #F2F6FC !important;
    border-bottom-color: #F2F6FC !important;
}

.smt-nav-button{
    color: #DCDFE6;
    background-color: #303133;
    border-color: #DCDFE6;
    border-radius: 5px;
}

.smt-nav-button:hover{
    color: #F2F6FC;
    border-color: #F2F6FC;
}


@media only screen and (min-width:1024px){
    .am-topbar .am-container{
        padding-left: 60px;
        padding-right: 60px;
        max-width: none !important;
    }
}

@media only screen and (min-width:1200px) {
    .am-container {
        max-width: 1100px !important;
    }
}

.smt-bnt{
    color: #fff;
    background-color: #303133;
    border-color: #F2F6FC;

    border-radius: 1rem;
    font-size: 1.6rem;
}

.smt-bnt:hover,
.smt-bnt:focus,
.smt-bnt:active,
.smt-bnt.am-active,
.smt-bnt.am-dropdown-toggle {
    color: #fff;
    background-color: #333333;
    /*color: #fff;*/
    /*color: #303133;*/
    /*background-color: #ffffff;*/
    border-color: #303133;
    /*border-radius: 0;*/
}


.am-btn-primary:active,
.am-btn-primary.am-active,
.am-dropdown.am-active .am-btn-primary.am-dropdown-toggle {
    background-image: none;
    background-color: #0a628f;
}

.smt-cards li{
    color: #303133;
    /*border: 1px solid #606266;*/
    border-left: 4px solid #606266;
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    margin-bottom: 30px;
    padding: 15px 15px 0;
}

.smt-cards li:hover{
    border-radius: 5px;
    background: #606266;
    border: 1px solid #606266;
    border-left: 10px solid #303133;
    color: #fff;
    margin-bottom: 30px;
    -webkit-filter: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*cursor: pointer;*/
}

.smt-card{
    height: 100px;
}

.smt-card-btn-group{
    height: inherit;
    vertical-align: center;
}

.smt-card-btn-group .smt-bnt{
    color: #fff;
    background-color: #606266;
    /*border-color: #606266;*/
    margin: 5px;
    border-radius: 1rem;
    font-size: 1.4rem;
}

.smt-cards li:hover .smt-bnt{
    color: #303133;
    background-color: #fff;
    /*border-color: #606266;*/
}

/* 文字截断 */
.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

