<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>IHaveAStroymap Login</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <!--<link rel="stylesheet" href="https://dn-st.teambition.net/account/static/css/lib.f6218ac0.css"/>-->
    <!--<link rel="stylesheet" href="https://dn-st.teambition.net/account/static/css/app.abfc81a8.css"/>-->

    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel="stylesheet" th:href="${'//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{/media/css/app.css}" id="maincss"/>
    <link rel="stylesheet" th:href="@{/media/css/theme-i.css}" id="maincss2"/>

    <!--<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>-->
</head>
<body>

    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
            <div class="panel panel-dark panel-flat">
                <!--<div class="panel-heading text-center">-->
                    <!--<a href="#">&lt;!&ndash;先定义成 仍然跳转到本页面&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="../static/img/logo_IHaveAStory.png" alt="Image" class="block-center img-rounded"/>&ndash;&gt;-->
                        <!--<p class="text-center pv" style="color: #FFFFFF;font-size: large">I Have A Storymap</p>-->
                    <!--</a>-->
                <!--</div>-->
                <div class="panel-body" id="loginPage">
                    <p class="text-center pv" style="font-size: large">请登录(^o^)</p>
                    <form id="form" method="post"  data-parsley-validate="true"  onsubmit="return false">
                        <label for="loginEmail" class="text-muted"></label>
                        <div class="form-group has-feedback">

                            <!--@thymesVar id="loginEmail" type="java.lang.String"-->
                            <!--th:field="*{loginEmail}"-->
                            <input id="loginEmail" type="email" name="loginEmail"  placeholder="邮箱" class="form-control" data-parsley-trigger="change" required="required"  data-parsley-required-message="邮箱地址不能为空"
                                   data-parsley-type-message="请输入正确的邮箱地址"
                                   />
                            <span class="fa fa-envelope form-control-feedback text-muted"></span>

                        </div>
                        <label for="loginPsd" class="text-muted"></label><!--这里使用空label 调解输入框之间的距离-->
                        <div class="form-group has-feedback">
                            <!--@thymesVar id="loginPassword" type="java.lang.String"-->
                            <!--th:field="*{loginPassword}"-->
                            <input id="loginPsd" type="password" placeholder="密码" data-parsley-trigger="focusout" name="loginPassword" class="form-control"
                                   data-parsley-type-message="请输入符合要求的密码"
                                   required="required" data-parsley-required-message="密码不能为空" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                        </div>
                        <div class="clearfix">
                            <div class="pull-right">
                                <a href="#" class="text-muted">忘记密码？</a>
                            </div>
                        </div>
                        <label for="loginButton" class="text-muted"></label>
                        <label for="loginButton" id="formtip" ></label>
                        <!--th:onclick="login"-->
                        <button  id="loginButton" type="submit" class="btn btn-block btn-primary mt-lg">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                    </form>
                    <p></p>
                    <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
                    <p class="pt-lg text-center">尚未注册？</p>
                    <a href="http://localhost:8888/registersmt" class="btn btn-block btn-default">立即注册</a>
                </div>

            </div>
            <div class="p-lg text-center">
                <span>&copy;</span>
                <span>2018</span>
                <span>-</span>
                <span>2019</span>
                <br/>
                <span>smt_group@163.com</span>
            </div>
        </div>
    </div>
    <script th:src="${'//cdn.bootcss.com/jquery/3.3.1/jquery.min.js'}"></script>
    <script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
    <script th:src="@{js/logincheck.js}"></script>
    <!--<script th:src="@{js/registercheck.js}"></script>-->
</body>
</html>
