<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: loadHeader('例子')"></head>
:
<body>
<div th:include="/common/nav :: loadNav"></div>
<!-- code from here -->
<div class="am-container">
    <div class="am-g" style="margin: 40px auto;height: 40px;">
        <div class="am-u-sm-6">
            <h2 style="margin-bottom: 0; line-height: inherit">项目信息</h2>
        </div>
        <div class="am-u-sm-6">
            <a href="/project/create"><button class="am-fr am-btn smt-bnt">新建项目</button></a>
        </div>
    </div>


</div>
<div th:include="/common/onload_js::loadJS"></div>
</body>
</html>