<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="../templates/common/head :: loadHeader('首页')"></head>
<link rel="stylesheet" th:href="@{css/main.css}">
<body>
    <div th:include="../templates/common/nav :: loadNav"></div>
    <!-- code from here -->
    <div data-am-widget="slider" class="am-slider am-slider-i2" data-am-flexslider="{controlNav:false}">
        <ul class="am-slides">
            <li class="am-slider-images" style="background-image: url(/img/banner.jpg)">
                <div class="am-container am-slider-desc">
                    <div class="am-slider-content">
                        <h2 class="am-slider-title am-animation-slide-left" data-am-scrollspy="{animation: 'slide-left', delay: 100}">Story Mapping Tool</h2>
                        <p data-am-scrollspy="{animation:'slide-right', delay: 600}" class="am-animation-slide-right" style="margin-top: 5px">紧密贴合敏捷优秀实践，来自未来的高能版工具</p>
                        <a href="/project" class="am-btn-s am-btn am-btn-danger am-radius am-animation-slide-bottom am-animation-delay-1" rel="nofollow" data-am-scrollspy="{animation:'slide-bottom', delay: 100}">即刻开启</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="m-services m-home-box">
        <section class="am-container">
            <hgroup class="am-animation-slide-bottom am-animation-delay-1" data-am-scrollspy="{animation:'slide-bottom', delay: 100}">
                <h2>我们的服务</h2>
                <p style="margin-bottom: 0">每个需求的背后都有要讲述的故事, 从Product Backlog 到 User Story, 利用我们故事地图工具的强大功能来讲述您的故事, 实现您的敏捷之旅。</p>
            </hgroup>
        </section>
    </div>
    <!--<div class="am-container m-home-box">-->
        <!--<hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 100}">-->
            <!--<h2>案例展示</h2>-->
            <!--<p>多终端一体化创新设计解决方案响应式自适应设计。</p>-->
        <!--</hgroup>-->
        <!--<section class="m-case-list">-->
            <!--<ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-3 am-thumbnails">-->

                <!--<li data-am-scrollspy="{animation:'slide-bottom', delay: 196}">-->
                    <!--<figure class="effect-lily">-->
                        <!--<img src="/img/main/loading.gif" alt="某某网络品牌VI设计" data-echo="uploadfiles/image/201509/46.jpg" class="am-img-responsive">-->
                        <!--<figcaption>-->
                            <!--<h3>SOLOVE素乐</h3>-->
                            <!--<p>我想我会遇见你，像恋人般重逢美丽</p>-->
                        <!--</figcaption>-->
                    <!--</figure>-->
                <!--</li>-->

                <!--<li data-am-scrollspy="{animation:'slide-bottom', delay: 174}">-->
                    <!--<figure class="effect-lily">-->
                        <!--<img src="/img/main/loading.gif" alt="研磨时光菜单设计" data-echo="uploadfiles/image/201509/23.jpg" class="am-img-responsive">-->
                        <!--<figcaption>-->
                            <!--<h3>广州唯一印象婚纱摄影</h3>-->
                            <!--<p>专注高端定制婚纱摄影</p>-->
                        <!--</figcaption>-->
                    <!--</figure>-->
                <!--</li>-->

                <!--<li data-am-scrollspy="{animation:'slide-bottom', delay: 119}">-->
                    <!--<figure class="effect-lily">-->
                        <!--<img src="/img/main/loading.gif" alt="鲜果果水果宣传单张设计与印刷" data-echo="uploadfiles/image/201509/32.jpg" class="am-img-responsive">-->
                        <!--<figcaption>-->
                            <!--<h3>南京启凡英语课程专题</h3>-->
                            <!--<p>南京唯一一家欧洲教育管理培训中心</p>-->
                        <!--</figcaption>-->
                    <!--</figure>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</section>-->

    <!--</div>-->
    <!--<hr>-->
    <section class="am-container m-home-box m-partner">

        <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 100}">
            <h2>合作伙伴</h2>
            <p>互联网大厂，创业团队，开源社区，个人开发者，无论哪个团队，只要有用户故事地图的需求，都!在用我们的工具！</p>
        </hgroup>
        <ul class="am-avg-lg-8 am-avg-md-8 am-avg-sm-4  am-thumbnails" data-am-scrollspy="{animation:'slide-bottom', delay: 100}" style="margin: 80px auto 30px;">
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 44}">
                <img src="/img/main/tencent.png" alt="腾讯" class="am-img-responsive"></li>
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 45}">
                <img src="/img/main/ali.png" alt="阿里巴巴" class="am-img-responsive"></li>
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 399}">
                <img src="/img/main/aliyun.png" alt="阿里云" class="am-img-responsive"></li>
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 286}">
                <img src="/img/main/toutiao.png" alt="今日头条" class="am-img-responsive"></li>
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 114}">
                <img src="/img/main/baidu.png" alt="百度" class="am-img-responsive"></li>
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 72}">
                <img src="/img/main/microsoft.png" alt="微软" class="am-img-responsive"></li>
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 190}">
                <img src="/img/main/apple.png" alt="苹果" class="am-img-responsive"></li>
            <li data-am-scrollspy="{animation:'slide-bottom', delay: 99}">
                <img src="/img/main/adobe.png" alt="adobe" class="am-img-responsive"></li>
        </ul>
    </section>
    <div class="m-home-box m-contact">
        <section class="am-container">
            <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 100}">
                <h2>作业相关</h2>
                <p>您可以访问本次作业的其他工具使用情况</p>
            </hgroup>
            <ul class="am-avg-lg-4 am-avg-md-4 am-avg-sm-2 am-thumbnails">
                <li data-am-scrollspy="{animation:'slide-bottom', delay: 2}"><a class="homework" href="http://139.196.75.247:8080/jenkins"><i class="am-icon-male"></i> Jenkins</a>
                </li>
                <li data-am-scrollspy="{animation:'slide-bottom', delay: 41}"><a class="homework" href="https://github.com/SMTTeam/IHaveAStory"><i class="am-icon-github"></i> Github</a>
                </li>
                <li data-am-scrollspy="{animation:'slide-bottom', delay: 51}">
                    <a class="homework" href="https://trello.com/b/ynWxYdel/%E8%BF%AD%E4%BB%A3%E4%B8%80"><i class="am-icon-trello"></i> Trello</a>
                </li>
                <li data-am-scrollspy="{animation:'slide-bottom', delay: 211}">
                    <a class="homework" href="https://sonarcloud.io/dashboard?id=SMTTeam_IHaveAStory"><i class="am-icon-area-chart"></i> Sonarqube</a>
                </li>
            </ul>
        </section>
    </div>
    <div class="m-contact-us">
        <section class="am-container">
            <div class="am-g">
                <span class="m-u-sm-12 am-u-md-9 am-u-lg-10" data-am-scrollspy="{animation:'slide-left', delay: 100}">拥有不一样的敏捷体验，你还在等什么？马上开始使用吧！</span>
                <span class="m-u-sm-12 am-u-md-3 am-u-lg-2" data-am-scrollspy="{animation:'slide-right', delay: 100}"></span>
            </div>
        </section>
    </div>
<div th:include="../templates/common/onload_js::loadJS"></div>
    <script th:src="@{js/main.js}"></script>
</body>
</html>