<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>IHaveAStroymap Register</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width, minimal-ui">

    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel="stylesheet" th:href="${'//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{/media/css/app.css}" id="maincss"/>
    <link rel="stylesheet" th:href="@{/media/css/theme-i.css}" id="maincss2"/>

    <!--<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>-->
</head>
<body>
    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
            <div class="panel panel-dark panel-flat">
                <div class="panel-heading text-center">
                    <a href="#"><!--先定义成 仍然跳转到本页面-->

                        <p class="text-center pv" style="color: #FFFFFF;font-size: large">I Have A Storymap</p>
                    </a>
                </div>
                <div class="panel-body" id="registPage">
                    <p class="text-center pv" style="font-size: large">请注册(^O^)</p>
                    <form id="form" data-parsley-validate="true"  onsubmit="return false">
                        <div class="form-group has-feedback">
                            <!--<label for="signupInputEmail1" class="text-muted"></label>-->
                            <input id="signupInputEmail" type="email" placeholder="输入邮箱地址" class="form-control"
                                   data-parsley-required-message="邮箱地址不能为空"
                                   data-parsley-type-message="请输入正确的邮箱地址"
                                   data-parsley-trigger="change"
                                   required="required"
                                   data-parsley-remote
                                   data-parsley-remote-validator="checkEmail"
                                   data-parsley-remote-options='{ "type": "GET" }'
                                   data-parsley-remote-message="邮箱已注册"     />
                            <!--要做一个checkaccount来查询是否账号已经被注册-->
                            <span class="fa fa-envelope form-control-feedback text-muted"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <!--<label for="signupInputName" class="text-muted"></label>-->
                            <input id="signupInputName" type="text" placeholder="我们该如何称呼您？" class="form-control"
                                   data-parsley-trigger="change"
                                   required="required" data-parsley-required-message="请输入用户名称"/>
                            <span class="fa fa-user form-control-feedback text-muted"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <!--<label for="signupInputPassword" class="text-muted"></label>-->
                            <input id="signupInputPassword" type="password" placeholder="填入密码" class="form-control"
                                   data-parsley-trigger="change"
                                   required="required" data-parsley-required-message="请输入密码"
                                   pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)(?![^0-9a-zA-Z]+$)\S{6,20}$/"
                                   data-parsley-pattern-message="请输入6-20位字母数字组合" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <!--<label for="confirmSignupInputPassword" class="text-muted"></label>-->
                            <input id="confirmSignupInputPassword" type="password" placeholder="确认密码" class="form-control" th:name="password"
                                   required="required"
                                   pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)(?![^0-9a-zA-Z]+$)\S{6,20}$/"
                                   data-parsley-pattern-message="请输入6-20位字母数字组合"
                                   data-parsley-required="true"
                                   data-parsley-trigger="focusout"
                                   data-parsley-required-message="确认密码不可为空"
                                   data-parsley-equalto="#signupInputPassword"
                                   data-parsley-equalto-message="两次密码输入不一致"/>
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                        </div>
                        <label for="registerButton" class="text-muted"></label>
                        <button th:onclick="regist" id="registerButton" class="btn btn-block btn-primary mt-lg">创建账户</button>
                    </form>
                    <p></p>
                    <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
                    <p class="pt-lg text-center">已经有账户？</p>
                    <a href="http://localhost:8888/loginsmt" class="btn btn-block btn-default">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                </div>
            </div>
            <div class="p-lg text-center">
                <span>&copy;</span>
                <span>2018</span>
                <span>-</span>
                <span>2019</span>
                <br/>
                <span>smt@126.com</span>
            </div>
        </div>
    </div>
    <script th:src="${'//cdn.bootcss.com/jquery/3.3.1/jquery.min.js'}"></script>
    <script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
    <script th:src="@{js/registercheck.js}"></script>
</body>
</html>