<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../templates/common/head::loadHeader('注 册')">
<body>
    <div th:include="../templates/common/nav :: loadNav"></div>
    <canvas id="J_dotLine"></canvas>
    <div class="am-container">
        <div class="am-g"  style="margin-top: 150px;" >
            <div class="am-u-sm-4 am-u-md-4 am-u-lg-4  am-u-sm-centered am-u-md-centered am-u-lg-centered">
                <!--这里为了方便直接用的 login.css里面的 login-welcom-label-->
                <!--<label class=" am-u-sm-offset-2 am-u-md-offset-2 am-u-lg-offset-2 login-welcom-label " >欢迎注册</label>-->
                <p class="am-text-xxl am-text-center">欢迎注册</p>
            </div>
            <form id="form"  class="am-form am-u-sm-8 am-u-md-6 am-u-lg-5 am-u-sm-centered" method="post" data-parsley-validate onsubmit="return false;" onkeydown="if(event.which==13) { return false;}">
                <div class="am-form-group " style="margin-top: 50px;">
                    <input id="signupInputEmail" type="email" placeholder="输入邮箱地址"
                           data-parsley-required-message="邮箱地址不能为空"
                           data-parsley-type-message="请输入正确的邮箱地址"
                           data-parsley-trigger="blur"
                           data-parsley-required="true"
                           data-parsley-remote
                           data-parsley-remote-validator="checkEmail"
                           data-parsley-remote-options='{ "type": "GET" }'
                           data-parsley-remote-message="邮箱已注册"    onkeydown="if(event.which==13) { focusNextInput(this); }" />
                </div>
                <div class="am-form-group" style="margin-top: 25px;" >
                    <input id="signupInputName" type="text" placeholder="我们该如何称呼您？"
                           data-parsley-trigger="change"
                           required="required"
                           data-parsley-required="true"
                           data-parsley-required-message="请输入用户名称" onkeydown="if(event.which==13) { focusNextInput(this); }"/>
                </div>
                <div class="am-form-group" style="margin-top: 25px;">
                    <input id="signupInputPassword" type="password" placeholder="填入密码"
                           data-parsley-trigger="change"
                           required="required"
                           data-parsley-required="true"
                           data-parsley-required-message="请输入密码"
                           pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)(?![^0-9a-zA-Z]+$)\S{6,20}$/"
                           data-parsley-pattern-message="请输入6-20位字母数字组合" onkeydown="if(event.which==13) { focusNextInput(this); }"/>
                </div>
                <div class="am-form-group" style="margin-top: 25px;">
                    <input id="confirmSignupInputPassword" type="password" placeholder="确认密码"
                           required="required"
                           pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)(?![^0-9a-zA-Z]+$)\S{6,20}$/"
                           data-parsley-pattern-message="请输入6-20位字母数字组合"
                           data-parsley-required="true"
                           data-parsley-trigger="change"
                           data-parsley-required-message="确认密码不可为空"
                           data-parsley-equalto="#signupInputPassword"
                           data-parsley-equalto-message="两次密码输入不一致" onkeydown="if(event.which==13) { focusNextInput(this); }"/>
                </div>
                <div class="am-form-group" style="margin-top: 30px;">
                    <button id="registerButton" type="submit" class="am-btn smt-bnt am-u-sm-centered">创建账户</button>
                </div>
                <div class="am-form-group" style="margin-top: 25px;">
                    <button id="loginButton1" type="button" class="am-btn smt-login-btn am-u-sm-centered">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                </div>
            </form>
        </div>

    </div>
    <!--<div class="login-teamcontact text-center" >-->
        <!--<span>&copy;</span>-->
        <!--<span>2018</span>-->
        <!--<span>-</span>-->
        <!--<span>2019</span>-->
        <!--<br/>-->
        <!--<span>smt_group@163.com</span>-->
    <!--</div>-->

    <div th:include="../templates/common/onload_js::loadJS"></div>
    <script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
    <script th:src="@{js/registercheck.js}"></script>
</body>
</html>