<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smtteam.smt.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.smtteam.smt.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="psw" property="psw" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="verify" property="verify" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, email, psw, username, gender, verify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smtteam.smt.model.User" >
    insert into user (id, email, psw, 
      username, gender, verify
      )
    values (#{id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{psw,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{verify,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smtteam.smt.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="psw != null" >
        psw,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="verify != null" >
        verify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        #{psw,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="verify != null" >
        #{verify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smtteam.smt.model.User" >
    update user
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        psw = #{psw,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="verify != null" >
        verify = #{verify,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smtteam.smt.model.User" >
    update user
    set email = #{email,jdbcType=VARCHAR},
      psw = #{psw,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      verify = #{verify,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultType="com.smtteam.smt.model.User">
    select
    <include refid="Base_Column_List" />
    from user
  </select>
</mapper>